.nav {
  position: fixed;
  top: 0;
  justify-content: space-around;
  background: rgba(254, 253, 243, 0.95);
  box-shadow: 0px 5px 33px rgba(185, 212, 237, 0.3);
  border-radius: 0px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px 139px;
  gap: 10px;
  height: 70px;
  width: 100%;
  z-index: 1000;
}

.nav .nav-container {
  /* ?edited */
  /* display: flex;
  justify-content: space-around;
  align-items: center; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  /* gap: 311px; */
  width: 100%;
  height: 66.67px;
}

.nav .nav-container .nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 167px;

  width: 787px;
  height: 51px;
}

.nav .nav-container .nav-logo-item {
  /* for logo design */
  /* width: 79.09px; */
  width: 79.09px;
  height: 66.67px;
  border-radius: 25px;
  background-color: transparent;
  opacity: 0.5;
}

.nav .nav-container .nav-item ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 291px;
  height: 28px;
}

.nav .nav-container .nav-item ul li {
  cursor: pointer;
}

.nav .nav-container .btn-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}

.nav .nav-container .btn-area .btn-login {
  /* primary */
  background: #391cee;
}

.nav .nav-container .loginMenu {
  position: absolute;
  top: 6rem;
  right: 10px;
  padding: 5px 10px;
  overflow: hidden;
}

.nav .nav-container .menubtn {
  display: none;
}

.nav .nav-container .loginMenu {
  display: none;
}

.nav .nav-container .loginMenu .btn-area {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: rgba(254, 253, 243, 0.7);
  box-shadow: 0px 5px 33px rgba(185, 212, 237, 0.3);
  padding: 30px 40px;
  /* width: 300px; */
  animation: easyin 2s ease-in-out;
}

@keyframes easyin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav .nav-container .loginMenu .btn-area h4 {
  cursor: pointer;
}

.nav .nav-container .loginMenu .btn-area .btn-login {
  /* primary */
  background: #391cee;
}

.nav .nav-container .loginMenu .btn-area .btn-signup {
  /* primary */
  width: 80px;
}

@media screen and (max-width: 590px) {
  .nav .nav-container .menubtn {
    display: inline-block;
  }
  .nav .nav-container .nav-btnarea {
    display: none;
  }
  .nav .nav-container .loginMenu {
    display: inline-block;
  }

  .nav .nav-container {
    justify-content: space-between;
    padding: 0 40px;
    gap: 20px;
  }
}
