.containpics {
  background: url(./background-image.jpg);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: fit-content;
}

.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  animation: fade-in-right 3s ease forwards;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container-1 .container-content {
  margin-top: 3.5rem;
  height: 100vh;
}

.container-1 .container-content h2 {
  /* here i will change the color to white when i insert picture*/
  padding: 0 10px;
  margin-left: 2rem;
  font-family: Josefin Sans;
  color: #fbfeff;
  background: rgba(255, 255, 255, 0.2);
  font-size: 64px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 420px;
}

.container-1 .container-content p {
  font-family: Josefin Sans;
  font-size: 20px;
  margin-left: 2rem;

  font-weight: 700;
  color: #fbfeff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 2px;
  line-height: 27px;
  max-width: 420px;
  padding: 0 10px;
  letter-spacing: 0.15000000596046448px;
  text-align: justify;
}

.container-1 .container-content .btn-area {
  width: 420px;
}

.container-1 .container-content .btn-login {
  width: 95px;
}
.container-1 .container-content .btn-signup {
  width: 95px;
}

@media screen and (max-width: 782px) {
  .container-1 .container-content .btn-area {
    display: none;
  }
}

/* fetch(`https://restcountries.com/v2/name/${countryName}?fullText=true`)
  .then((response) => response.json())
  .then((data) => {
    const states = data[0].subdivision;
    console.log(states);
  }); */
