.travel {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #391cee;
  margin: 3px auto;
  margin-top: 2rem;
  padding: 10px 60px;
  max-width: 800px;
  justify-content: flex-start;
}

.travel h3 {
  color: white;
}

.travel .travel-input {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* justify-content: space-between; */
  align-items: center;
}

.travel .travel-input .travel-item {
  align-items: center;
}

@media screen and (max-width: 1198px) {
  .travel {
    display: flex;
    width: 9rem;
    justify-content: flex-start;
    margin: 2rem 0 4px 2rem;
  }
  .travel .travel-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: space-between; */
    align-items: center;
  }
}
