.sendmail-container {
  display: flex;
  background-color: rgba(245, 217, 14, 0.07);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.sendmail-container .sendmail-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sendmail-container .sendmail-top h3 {
  font-family: Josefin Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.sendmail-container .sendmail-top h5 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.sendmail-container p {
  /*  */
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.sendmail-container .sendmail-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.sendmail-container .sendmail-bottom h6 {
  /*  */
  height: 30px;
  width: 90px;

  border-radius: 5px;
  padding: 2px 24px;
  background-color: #391cee;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
