.service-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;

  width: 95%;
}

.service-area .para {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.service-area .para p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 450;
  line-height: 40px;
  color: #020e12;
  text-align: justified;
  padding-right: 20px;
  text-align: center;
  width: 70%;
}

.service-area .service-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 13rem;
  padding: 2px 5px;

  width: 50%;
}

.service-area .service-text h1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  /* line-height: 58px; */
  /* or 91% */

  color: #242527;

  padding: 0;
  margin: 0;
}

.service-area .service-text h5 {
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 58px;
  /* or 161% */

  /* primary */
  color: #391cee;
  margin: 0;
  padding: 0;
}

.service-area .service-about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  font-size: x-large;
  padding: 5px 10px;
  font-weight: 600;
}

.other-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  margin: 1rem;
  gap: 10px;
}

.other-info .other-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* gap: 20px; */

  height: 476px;
}

.other-info .other-info-container h4 {
  width: 258px;
  /* height: 105px; */

  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 30.9655px;
  line-height: 44px;

  margin: 0;
  text-align: center;

  color: #000000;
}

.other-info .other-info-container p {
  width: 301px;
  height: 100px;

  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20.2414px;
  line-height: 44px;

  text-align: center;
  letter-spacing: 0.114763px;
}

@media screen and (max-width: 1638px) {
  .other-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin: 0;
    gap: 10px;
  }
}

@media screen and (max-width: 978px) {
  .other-info {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 809px) {
  .other-info {
    grid-template-columns: 1fr;
  }
}
