.moved-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(187, 179, 234, 0.22);
  /* padding: 30px 10px; */
  /* Auto layout */
  padding: 12px 120px;
  gap: 34px;
  overflow: scroll;
}

.moved-container ::-webkit-scrollbar {
  display: none;
}
